@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, black 1.84%, white 102.67%);
  --gradient-bar: linear-gradient(103.22deg, rgb(120, 142, 142) 13.86%, #FB8604 99.55%);
  
  --color-bg: #75C9B7;
  --color-footer : rgba(19, 130, 106, 1);
  --color-blog: #042c54;
  --color-text: lightgray;
  --color-subtext: #FB8604;
}
